<section class="containerProducts margin-container">
  <!-- Opciones de productos -->
  <div class="optionsProducts flex-row">
    <div class="miniCakesOptions">
      <button id="btnOptions" class="btnMiniCakesOptions">MiniCakes</button>
    </div>
    <div class="muffinsOptions">
      <button id="btnOptions" class="btnMuffinsOptions">Muffins</button>
    </div>
  </div> <!-- fin Opciones de productos -->


  <!-- Vista de compoenente mini-cakes -->
  <div class="containerListMiniCakes">
    <div class="viewListMiniCakes">
      <app-mini-cakes></app-mini-cakes>
    </div>

  </div>










  <!--   
  <section ">
    <h3>MIni Cakes</h3>
    <app-mini-cakes></app-mini-cakes>
  </section>

  <section class="complements margin-container">
    <h3>Complementos</h3>
    <app-muffins></app-muffins>
  </section>
</section> -->
</section>
