<section class="containerProducts margin-container">
  <!-- botones de opciones de productos -->
  <div class="optionsProducts">
    <div class="miniCakesOptions">
      <button id="btnOptions" class="btnMiniCakesOptions">MiniCakes</button>
    </div>
    <div class="muffinsOptions">
      <button id="btnOptions" class="btnMuffinsOptions">Muffins</button>
    </div>
  </div>
  <!-- fin botones de opciones de productos -->

  <!--   
  <section ">
    <h3>MIni Cakes</h3>
    <app-mini-cakes></app-mini-cakes>
  </section>

  <section class="complements margin-container">
    <h3>Complementos</h3>
    <app-muffins></app-muffins>
  </section>
</section> -->
</section>
