header {
  background-color: var(--second-color);
  padding: 1rem;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav {
    display: flex; 

}*/

li {
  text-decoration: none;
}
