@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* 
****** CLASES GLOBALES ***** 
*/
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

:root {
  --main-color: #ffeddb;
  --second-color: #e07390;
  --third-color: #f9f6f6;
  --quarter-color: #ffdcd6;
}

:root {
  --main-font: "Roboto", sans-serif;
  --main-size: 4rem;
  --second-size: 3rem;
  --third-size: 2rem;
}

.flex-row {
  display: flex;
}

h1,
h2 {
  font-family: var(--main-font);
  text-align: center;
}

h1 {
  font-size: var(--main-size);
  /* font-size: 3rem; */
}

h2 {
  font-size: var(--second-size);
  /* font-size: 4rem; */
}

h3,
p {
  font-size: var(--third-size);
}

body {
  background-color: var(--main-color);
}

/* COMPONENTE PRODUCTS */
.margin-container {
  /* padding: 4rem 0 4rem 0; */
  margin: 8rem 9.5rem 8rem 9.5rem;
}

/*
COMPONENTE MINICAKES Y MUFFINS
CARDS DE LOS PRODUCTOS 
*/

.marginTop {
  margin-top: 1.5rem;
}

/*
botones de opciones en el componente products
*/
#btnOptions {
  width: 100%;
  height: 3.7rem;
  border: none;
  font-family: var(--main-font);
  font-weight: 96rem;
  font-size: 2.5rem;
}
/*
 botones de agregar pedido en componente MiniCakes
*/

#btnAddProduct {
  height: 2rem;
  width: 17rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: var(--quarter-color);
  font-family: var(--main-font);
  font-weight: 30rem;
  font-size: 0.8rem;
}

#btnAddProduct:hover {
  border: var(--second-color) solid 1px;
}
