<!-- ngFor para los elementos de listProducts.json -->
<section   class="ContainerMiniCake ">

  <div class="cardProduct">
    <figure>
      <img src="https://images.pexels.com/photos/140831/pexels-photo-140831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="imagen de Minicake" width="200px" height="200px">
    </figure>

   <div>
    <span>NOMBRE</span>
   </div>

    <div>
      <span>PRECIO</span>
    </div>
    <div>
      <div>-</div>
      <div>CANT.</div>
      <div>+</div>
    </div>
    <div>
    <!-- Se crea un alias al botón y evento click addListProduct  -->
      <button >AGREGAR</button>
    </div>
  </div>
</section>
