<!-- ngFor para los elementos de listProducts.json -->
<section   class="containerMiniCake ">

  <div class="cardProduct" *ngFor="let item of listProducts.miniCakes">
    <figure>
      <img src="{{item.image}}" width="330px" height="239px">
    </figure>

   <div class="marginTop marginLeft">
    <span #product>{{item.product}}</span>
   </div>

    <div class="marginTop marginLeft">
      <span #price>{{item.price}}</span>
    </div>
    <div class=" marginTop flex-row amount">
      <span>-</span>
      <span>CANT.</span>
      <span>+</span>
    </div>
    <div class="marginTop addProduct">
    <!-- Se crea un alias al botón y evento click addListProduct  -->
      <button id="btnAddProduct">Agregar</button>
    </div>
  </div>
</section>
