<!-- ngFor para los elementos de listProducts.json -->
<section   class="containerMiniCake ">

  <div class="cardProduct">
    <figure>
      <img src="https://images.pexels.com/photos/140831/pexels-photo-140831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="imagen de Minicake" width="330px" height="239px">
    </figure>

   <div class="marginTop marginLeft">
    <span>NOMBRE</span>
   </div>

    <div class="marginTop marginLeft">
      <span>PRECIO</span>
    </div>
    <div class=" marginTop flex-row amount">
      <span>-</span>
      <span>CANT.</span>
      <span>+</span>
    </div>
    <div class="marginTop addProduct">
    <!-- Se crea un alias al botón y evento click addListProduct  -->
      <button id="btnAddProduct">Agregar</button>
    </div>
  </div>
</section>
