<p>muffins works!</p>
<!-- ngFor para los elementos de listProducts.json -->
<section   class="containerMuffins ">

    <div class="cardProduct">
      <figure>
        <img src= "https://images.pexels.com/photos/1179002/pexels-photo-1179002.jpeg?auto=compress&cs=tinysrgb&w=600" width="330px" height="239px">
      </figure>
  
     <div class="marginTop marginLeft">
      <span>NOMBRE</span>
     </div>
  
      <div class="marginTop marginLeft">
        <span>PRECIO</span>
      </div>
      <div class=" marginTop flex-row amount">
        <span>-</span>
        <span>CANT.</span>
        <span>+</span>
      </div>
      <div class="marginTop addProduct">
      <!-- Se crea un alias al botón y evento click addListProduct  -->
        <button id="btnAddProduct">Agregar</button>
      </div>
    </div>
  </section>
